<html>
<head>
  <base href="/">
  <title>Automation</title>
  <link rel="shortcut icon" href="{{url_root}}/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{url_root}}/static/css/style.css">
</head>
<body>
<h1>Automation</h1>
<h3>URL_ROOT: '{{url_root}}'</h3>
<ul>
    <li><a href="{{url_root}}/build">build</a></li>
  <li><a href="{{url_root}}/runtime_images">images</a></li>
  <li><a href="{{url_root}}/omnify">omnify</a></li>
      <li><a href="{{url_root}}/webtrac">webtrac</a></li>
    <li><a href="{{url_root}}/appen">appen</a></li>
    <li><a href="{{url_root}}/comics">comics</a></li>
          <li><a href="{{url_root}}/clear_redis">clear_redis</a></li>
</ul>
</body>
</html>